* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
  }
/* ul,ol {
    list-style: none;
} */
.container {
 max-width: 600px;
 margin: 50px auto;
}
.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col-6 {
    flex-basis: 50%;
}
.left h1 {
    padding: 10px 5px;
    background: #f26b71;
    color: #fff;
    display: inline-block;
}
.left input {
    margin: 15px 0;
    padding: 5px 0;
    width: 70%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    outline: 0;
    text-indent: 20px;
    transition: all 0.5s;
}
.left button {
    padding: 5px 3px;
    background-color: #89b9df;
    color: white;
    border: none;
    cursor: pointer;
}
.left button:hover {
background-color: #4279ab;
}
.right img {
    width: 300px;
    height: auto;
}
.done {
    text-decoration: line-through;
}